<div class="container">
  <div class="row">
    <div class="col-md-12 m-5">
      <h3>{{'DISTRICT_CALENDER.EDIT_DISTRICT_CALENDAR'| translate}}</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <form [formGroup]="EditDistrictCalendar" (submit)="editDistrictCalenderInfo()" >
        <div class="row mb-3">
          <div class="col-md-5">
            <div class="form-group">
              <label for="exampleFormControlSelect1">{{'DISTRICT_CALENDER.DISTRICT_NAME'| translate}}</label>
              <select class="form-control" id="exampleFormControlSelect1" formControlName="districtName">
                <option *ngFor="let district of districtData" [value]="district.district_name">
                  {{ district.district_name }}
                </option>
              </select>
            </div>
          </div>

          <div class="col-md-5">
            <div class="form-group">
              <label for="exampleFormControlInput1">{{'DISTRICT_CALENDER.DISTRICT_CALENDAR'| translate}}</label>
              <input type="text" class="form-control" placeholder="Calendar Name" formControlName="calendarName">
              <div *ngIf="EditDistrictCalendar.get('calendarName')?.invalid && EditDistrictCalendar.get('calendarName')?.touched" class="text-danger">
                <span *ngIf="EditDistrictCalendar.get('calendarName')?.errors?.['required']"> {{"ERRORS.DISTRICT_CALENDAR.CALENDAR_NAME"|translate}}</span>
                <span *ngIf="EditDistrictCalendar.get('calendarName')?.errors?.['pattern']">{{"ERRORS.DISTRICT_CALENDAR.CALENDAR_NAME_VALID"|translate}}</span>

                </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-5">
            <div class="form-group">
              <label for="startDate">{{'DISTRICT_CALENDER.START_DATE'| translate}}</label>
              <input type="date" class="form-control" id="startDate" formControlName="startDate">
            </div>
          </div>

          <div class="col-md-5">
            <div class="form-group">
              <label for="endDate">{{'DISTRICT_CALENDER.END_DATE'| translate}}</label>
              <input type="date" class="form-control" id="endDate" formControlName="endDate">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-5 d-grid">
            <button type="button" (click)="cancelbtn()" class="btn btn-secondary">{{"COMMON.CANCEL" | translate }}</button>
          </div>
          <div class="col-md-5 d-grid">
            <button type="submit" class="btn btn-primary">{{"COMMON.EDIT" | translate }}</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
