<nav class="navbar navbar-light bg-light pb-2 sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand"></a>
    <div class="dropdown btn-group dropstart">
      <a class="btn  dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="bi bi-person fs-3"></i>
      </a>

      <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <li><a class="dropdown-item" style="font-family: 'Arial', sans-serif;" (click)="UpdateProfile()">Profile</a></li>
        <li><a class="dropdown-item" (click)="logout()" style="font-family: 'Arial', sans-serif;">Logout</a></li>
      </ul>
    </div>

  </div>
</nav>
