<div class="container card p-4 shadow mt-5 mb-5" >
  <div class="row">
    <div class="col-md-12 m-3">
      <h3>Edit School Calendar</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <form [formGroup]="editSchoolCalendar" (submit)="editSchoolCalendarDetails()">
        <div class="row mb-3">
          <div class="col-md-12">
            <div class="form-group">
              <label for="exampleFormControlSelect1">School Calendar Name</label>
               <input type="text" class="form-control" formControlName="schoolCalendarName">
            </div>
          </div>

        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="startDate">Start Date</label>
              <input type="date" class="form-control" id="startDate" formControlName="startDate">
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group">
              <label for="endDate">{{'DISTRICT_CALENDER.END_DATE'| translate}}</label>
              <input type="date" class="form-control" id="endDate" formControlName="endDate">
            </div>
          </div>
        </div>

        <div class="row mt-3">
          <div class="col-md-6 d-grid">
            <button type="button"  class="btn btn-secondary">Cancel</button>
          </div>
          <div class="col-md-6 d-grid">
            <button type="submit" class="btn btn-primary">Edit</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
