<button (click)="switchLanguage('en')">English</button>
<button (click)="switchLanguage('hi')">हिन्दी</button>
<div class="container">
  <div class="login-box">
      <div class="left">
          <div class="login-form">
              <img src="assets/infostride.jpeg" class="logo">
              <p>{{'COMMON.RESET_PASSWORD_PARA'|translate}}</p>
              <form [formGroup]="forgetPassword"  (ngSubmit)="forgotPasswordEmail()">

                  <input type="email"
                  [class.is-invalid]="loginError['email'].invalid && loginError['email'].touched"
                  placeholder="{{'PLACEHOLDER.EMAIL'|translate}}"
                  name="email"
                  required
                  formControlName="email">
                  <div class="alert alert-danger" *ngIf="loginError['email'].invalid && loginError['email'].touched">


                    <div *ngIf="loginError['email'].errors && loginError['email'].errors['required']">
                      <span *ngIf="loginError['email'].errors && loginError['email'].errors['required']">✗</span>
                      {{'ERRORS.EMAIL.EMAIL_REQUIRED'|translate}}
                    </div>

                    <div *ngIf="loginError['email'].errors && loginError['email'].errors['pattern']">
                      <span *ngIf="loginError['email'].errors && loginError['email'].errors['pattern']">✗</span>

                      {{'ERRORS.EMAIL.EMAIL_INVALID'|translate}}
                    </div>

                  </div>


                  <div class="buttons">
                      <button type="submit" class="login-btn">{{'COMMON.SEND_PASSWORD_VERIFICATION_BUTTON'|translate}}</button>

                  </div>
              </form>

          </div>
      </div>
      <div class="right">
          <img src="assets/premium_photo-1681487916420-8f50a06eb60e.avif" alt="Welcome Image">
      </div>
  </div>
</div>
