<div class="container mt-4">
  <div class="row">
    <div class="col-md-3">
      <app-cards>
        <img
          class="card-img-top"
          src="assets/photo-1577896851231-70ef18881754.avif"
          alt="Card image cap"
        />
        <h5 class="card-title">Card title 1</h5>
        <a href="#" class="btn btn-primary">Go somewhere</a>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content. 1
        </p>
      </app-cards>
    </div>
    <div class="col-md-3">
      <app-cards>
        <img
          class="card-img-top"
          src="assets/premium_photo-1683887034473-74e486cdb7a1.avif"
          alt="Card image cap"
        />
        <h5 class="card-title">Card title 2</h5>
        <a href="#" class="btn btn-primary">Go somewhere</a>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content. 2
        </p>
      </app-cards>
    </div>
    <div class="col-md-3">
      <app-cards>
        <img
          class="card-img-top"
          src="assets/premium_photo-1683887034146-c79058dbdcb1.avif"
          alt="Card image cap"
        />
        <h5 class="card-title">Card title 3</h5>
        <a href="#" class="btn btn-primary">Go somewhere</a>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content. 3
        </p>
      </app-cards>
    </div>
       <div class="col-md-3">
      <app-cards>
        <img
          class="card-img-top"
          src="assets/photo-1577896851231-70ef18881754.avif"
          alt="Card image cap"
        />
        <h5 class="card-title">Card title 1</h5>
        <a href="#" class="btn btn-primary">Go somewhere</a>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content. 1
        </p>
      </app-cards>
    </div>
  </div>
</div>
