#addbtn{
  width: 250px;
  padding: 6px;
  background-color:  #0d6efd;
  color: white;
  border: #0d6efd;
  border-radius: 5px;
}

.plusicon:hover {
  background-color: #0d6efd;
}
.edit-delete-btn{
  cursor: pointer;
}

.confirm-btn{
  cursor: pointer;
  color: white;
  background-color:  #0d6efd !important;
  border: #0d6efd !important;

}



